.all-quotes {
    text-align: center;
}

.all-quotes h2 {
    margin-top: 1em;
    font-size: 30px;
}

.all-quotes mat-card {
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.quote-icon {
    vertical-align: middle;
    padding-bottom: 3px;
    font-weight: 600;
}

.detail {
    font-weight: 500;
    text-align: center;
}

.detail-options {
    position: absolute;
    top: 14px;
    right: 10px;
}

.detail-options mat-icon {
    padding-right: 5px;
}

.thumb-up:hover {
    transform: scale(1.3);
}

.thumb-down:hover {
    transform: scale(1.3);
}

.clear:hover {
    transform: scale(1.3);
}

button:hover,
.detail-options {
    cursor: pointer;
}

.content {
    white-space: pre-line;
}

mat-card-title {
    display: flex;
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}

mat-card-content {
    text-align: center;
    font-size: 17px;
}

button {
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: blueviolet;
    color: aliceblue;
    transform: scale(1.3);
}

.book-icon {
    height: 10px;
    width: 10px;
    justify-content: flex-start;
}

.book-title {
    padding-left: 40px;
    font-weight: bold;
}

.thumb-up {
    color: lime;
}

.thumb-down {
    color: red;
}

.add-form-container {
    padding: 4em;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.add-form-container mat-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.add-form-container mat-card-title {
    margin: 1em !important;
    font-weight: bold !important;
}

.add-form-container button {
    margin-top: 10px !important;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.save:hover {
    background-color: green;
}

.cancel:hover {
    background-color: red;
}

.add-form-container mat-card-content {
    margin-bottom: 0;
    font-size: 20px;
}

form {
    padding-top: 1em;
}

mat-form-field {
    width: 90%;
}

.add-form-container button {
    width: 80%;
    max-width: 300px;
    margin-bottom: 1em;
}

.add-form-container button:hover,
.detail-options {
    cursor: pointer;
}

mat-label {
    font-weight: bold !important;
}
