<div class="add-form-container" *ngIf="adding">
    <mat-card>
        <mat-card-title>ADD NEW QUOTE </mat-card-title>
        <hr />
        <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Book Title</mat-label>
                    <input matInput formControlName="title" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="What's your favourite quote?"></textarea>
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                    <mat-label>Author</mat-label>
                    <textarea matInput formControlName="author" placeholder="Writer's name"></textarea>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="wrapper">
                <button mat-raised-button color="accent" type="submit" class="save">SAVE</button>
                <button mat-raised-button class="cancel" (click)="exitForm()">CANCEL</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

<div class="all-quotes" *ngIf="!adding">
    <button mat-raised-button color="accent" (click)="adding = !adding">
    ADD NEW QUOTE
  </button>
    <div *ngFor="let quote of quotes; let i = index;">
        <mat-card class="content">
            <mat-card-title>
                <span class="book-icon"><img src="../../../assets/bookicon.png" alt="Book"></span>
                <span class="book-title">{{ quote.title }}</span>
            </mat-card-title>
            <div class="detail-options">
                {{upvotes}}
                <mat-icon class="quote-icon thumb-up" (click)="upVote()">thumb_up</mat-icon>
                {{downvotes}}
                <mat-icon class="quote-icon thumb-down" (click)="downVote()">thumb_down</mat-icon>
                <mat-icon class="quote-icon clear" color="accent" (click)="onDelete(i)">clear</mat-icon>
            </div>
            <mat-card-content>
                <p>
                    <span class="detail">{{ quote.description }}</span>
                </p>
                <p>
                    <span class="detail">Author: {{ quote.author }}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
