<div class="all-quotes">
    <h2>Book Quotes</h2>
    <div *ngFor="let quote of quotes">
        <mat-card class="content">
            <mat-card-title>
                <span class="book-icon"><img src="../../../assets/bookicon.png" alt="Book"></span>
                <span class="book-title">{{ quote.title }}</span>
            </mat-card-title>
            <div class="detail-options">
                <mat-icon class="quote-icon thumb-up">thumb_up</mat-icon>
                <mat-icon class="quote-icon thumb-down">thumb_down</mat-icon>
                <mat-icon class="quote-icon" color="accent">clear</mat-icon>
            </div>
            <mat-card-content>
                <p>
                    <span class="detail">{{ quote.description }}</span>
                </p>
                <p>
                    <span class="detail">Author: {{ quote.author }}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
